*.suo
CholaChess/bin/Debug/CholaChess.exe.config
CholaChess/bin/Debug/CholaChess.pdb
CholaChess/bin/Debug/CholaChess.vshost.exe
CholaChess/bin/Debug/CholaChess.vshost.exe.config
CholaChess/bin/Debug/CholaChess.vshost.exe.manifest
CholaChess/obj/
CholaChessTest/bin/
CholaChessTest/obj/
packages/
CholaChess/bin/Debug/CholaChess.exe